.navbar {
  padding: .8rem 1rem;
  background-color: white;
}
.navbar-brand {
  border-radius: 0px;
  background-color: #013455;
  color: white !important;
  font-weight: bold;
  padding-left: 26px;
  padding-right: 26px;
  text-transform: uppercase;
}
.navbar-toggler {
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
.nav-item {
  color: #013455;
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition:0.5s;
  transition: 0.5s;

  &:hover {
    color: #005e9b;
  }
}
.navbar-collapse.collapse.show .nav-item {
  margin-top: 15px;
}
